################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nestest.nes
/.vs/NES/v16/Browse.VC.db-shm
/.vs/NES/v16/Browse.VC.opendb
/.vs/NES/v16/Browse.VC.db-wal
